{%extends 'financialmanager/base.html'%}
{% load static %}
{% load templatetags %}

{%block main%}

<!--Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Icons-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'financialmanager/js/box.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static  'financialmanager/css/box.css' %}">
<div class='container' style="direction: rtl;">
    <div class="row">
        <div class="col-sm-3">
            <select class="box-select" id='box-select' aria-label="انتخاب صندوق">
                <option value="{{box.slug}}" selected>{{box.name}}</option>
                {% for abox in user.safebox.all%}
                {% ifnotequal abox box %}
                <option value="{% url 'financialmanager:box' abox.slug %}">{{abox.name}}</option>
                {%endifnotequal%}
                {% endfor %}
            </select>

        </div>
        <div col style="text-align: center;">
            {{box.name}}
            {% ifequal user box.creator %}
            <a href="#" class="btn btn-info btn-sm " data-bs-toggle="modal" data-bs-target="#boxsettings">
                تنظیمات
                <i class="material-icons " style="font-size: medium;">settings</i>
            </a>
            {%endifequal%}
        </div>
    </div>
</div>
<main style="direction: rtl;">
    <div class="container py-3">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">
            <div class="col-sm-3">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem; max-height: 180px; height: 100%;">
                    <div class="card-header">تراکنش های انجام شده صندوق</div>
                    <div class="card-body ">
                        <h3 class="card-title">{{box_withdraws|length}}</h3>
                        <p class="card-text" style="margin-top:15%;">تعداد تراکنش های برداشتی از صندوق </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem; max-height: 180px; height: 100%;">
                    <div class="card-header">مجموع واریزی ها</div>
                    <div class="card-body">
                        <h3 class="card-title">{{box_deposits|length}}</h3>

                        <p class="card-text" style="margin-top:15%;">تعداد کل واریزی ها توسط اعضای تیم</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-white bg-secondary mb-3"
                    style="max-width: 18rem; max-height: 180px; height: 100%;">
                    <div class="card-header">واریزی های شما</div>
                    <div class="card-body">
                        <h3 class="card-title">{{box|count:user}}</h3>
                        <p class="card-text" style="margin-top:15%;">تعداد کل واریزی های شما به صندوق </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem; max-height: 180px; height: 100%;">
                    <div class="card-header">موجودی صندوق</div>
                    <div class="card-body">
                        <span class="card-title"
                            style="font-size: 28px; direction: ltr; display: inline-block;">{{box.balance}}</span>
                        <span style="font-size: small;"> تومان </span>
                        <p class="card-text " style="margin-top:15%; ">مبلغ کل موجود در صندوق </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-primary "
        style="width: 380px; float: right; direction: rtl;">
        <a href="/" class="d-flex align-items-center flex-shrink-0 p-3  link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-5 fw-semibold text-white">سابقه تراکنش ها </span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
            {% with logs=box|log_maker %}
            {%for log in logs %}
            <a href="#" class="list-group-item list-group-item-action  py-3 lh-tight" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{log|get_name}}</strong>
                    <small>{{log.date|to_jalali}}<br>{{log|get_time}}</small>
                </div>
                <div class="col-10 mb-1 mr-5 small"> توضیحات: {{log.details}} </div>
                <div class="col-10 mb-1 small">مبلغ: {{log.amount}} تومان</div>

                {% if log.user %}
                <div class="col-10 mb-1 small">توسط: {{log.user}} </div>
                {%endif%}
            </a>
            {%endfor%}
            {%endwith%}

        </div>
    </div>


    {%for usr in members %}
    <div class="col-md-5 " style="margin-right:40%; margin-bottom: 1%;">
        <div class="container direction:rtl; ">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image"> <img style="border-radius: 50% !important ;" src="{{usr.avatar.url}} " class=""
                            width="155"> </div>
                    <div class="mr-100 w-100" style="margin-right: 2%;">
                        <h4 class="mb-0 mt-0">{{usr.get_full_name}}</h4> <span> </span>
                        <div class="col mt-4">
                            <span style="font-size: medium;">موجودی : </span>
                            <span
                                style="font-size: 28px; margin-right: 1%; direction: ltr; display: inline-block;">{{box|get_balance:usr}}</span>
                            <span style="font-size: small;">تومان</span>
                        </div>

                        {% ifequal usr user %}
                        <button type="button" class="btn btn-sm btn-primary w-100 ml-2" data-bs-toggle="modal"
                            data-bs-target="#chargeaccount">+ افزایش موجودی</button>

                        {%endifequal%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    <div class="col-md-5" style="margin-right:40%; margin-top: 5%;">
        <div class="container">
            <h3 style="margin-bottom: 3%;">ثبت برداشت وجه به صورت دستی : </h3>

            <form method="POST" action="{% url 'financialmanager:withdraw_api'%}">
                {%csrf_token%}
                <div class="form-group">
                    <label for="Amount1">مبلغ :</label>
                    <input type="number" class="form-control" id="Amount1" placeholder=" مثال : 120000   ( به تومان ) "
                        name="amount">
                </div>
                <div class="form-group">
                    <label for="SafeBox1">صندوق :</label>
                    <select class="form-control" id="SafeBox1" name="box">
                        {%for box in boxes%}
                        <option value="{{box.id}}">{{box.name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="payers1">پرداخت کننده ها : </label>
                    <select multiple class="form-control" id="payers1" name="payers">
                        {%for usr in members %}
                        <option value="{{usr.id}}" selected>{{usr.get_full_name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="description1">توضیحات :</label>
                    <textarea class="form-control" id="description1" rows="3" name="description"></textarea>
                </div>
                <button class="btn btn-primary" style="margin-top: 3%; padding-left: 3%; padding-right: 3%;"
                    type="submit">تایید</button>
            </form>

        </div>

    </div>

</main>

<!--Modals-->
<div class="modal fade" id="chargeaccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" style="direction: rtl;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">افزایش موجودی حساب </h5>
                <button type="button" class="btn-close  " data-bs-dismiss="modal" aria-label="بستن"
                    style="margin: 0rem 0rem 0rem !important;"></button>
            </div>
            <div class="modal-body">
                <label for="amount" class="form-label">مبلغ</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" id="amount" aria-describedby="basic-addon3">
                    <span class="input-group-text" id="basic-addon3">تومان</span>
                </div>
                <label for="description" class="form-label">توضیحات</label>
                <textarea class="form-control" id="description" rows="2"></textarea>
                <input class="form-check-input" type="checkbox" value="" id="phone_enter" name="phone_checkbox" checked>
                <label class="form-check-label" for="phone_enter">
                    شماره موبایل وارد شود؟
                </label>
                <small>با فعال بودن این گزینه پس از پرداخت رسید پرداخت از طرف ایدی پی برای شما پیامک میشود </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <a class="btn btn-primary" href='' id='nextButton' onclick="idpayFunction()">
                    مرحله بعد</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="boxsettings" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
    style="direction: rtl;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تنظیمات صندوق </h5>
                <button type="button" class="btn-close  " data-bs-dismiss="modal" aria-label="بستن"
                    style="margin: 0rem 0rem 0rem !important;"></button>
            </div>
            <div class="modal-body">
                <label style="color: red;" id="errorAlert"></label>
                <form action="{% url 'financialmanager:boxsettings' %}" id="settingsForm" method="POST">
                    {%csrf_token%}
                    <label for="gateway_url" class="form-label" aria-describedby="gateway_url_help">لینک درگاه
                        پرداخت</label>
                    <div class="input-group ">
                        <input type="url" class="form-control" style="direction: ltr;" id="gateway_url"
                            aria-describedby="basic-addon3" name="gateway_url" value="{{box.payment_gateway}}" >
                    </div>
                    <div id="gateway_url_help" class="form-text mb-3" style="direction: ltr;">مثال:
                        https://idpay.ir/imansedgh </div>

                    <label>ارائه دهنده درگاه پرداخت</label><br>
                    <input class="form-check-input" type="radio"  id="gateway" value='idpay' name="gateway_type" checked>
                    <label class="form-check-label" for="gateway">
                        آیدی پی
                    </label>
                    <small>در حال حاضر فقط از ایدی پی پشتیبانی میشود </small>
                    <br>
                    <input class="form-check-input" type="radio" id="gateway" value='zarinpal' name="gateway_type" disabled>
                    <label class="form-check-label" for="gateway">
                        زرین پال
                    </label>
                    <input type="hidden" value="{{box.slug}}" name="safebox">
                  
                </form>
                <a href = "http://{{request.get_host}}/box/join/{{box.invite_id}}" >لینک عضویت</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <a class="btn btn-primary" id='savebutton' onclick="settingsFunction()">
                    ذخیره</a>
            </div>
        </div>
    </div>
</div>


<!--Modals-->



<script>
function idpayFunction() {
    let idpayLink = "{{box.payment_gateway}}?name={{user.username}}&amount=" + document.getElementById('amount').value + "&desc=" + document.getElementById('description').value +" {{box.id}}"
    if (document.getElementById('phone_enter').checked) {
        console.log("checked")
        idpayLink += '&phone={{user.phone_number}}'
    }
    document.getElementById('nextButton').href = idpayLink
}
</script>

{%endblock%}