{% extends 'financialmanager/base.html' %}



<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/static/financialmanager/css/headers.css">

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title></title>
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
        </path>
    </symbol>
    <symbol id="home" viewBox="0 0 16 16">
        <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
    </symbol>
    <symbol id="speedometer2" viewBox="0 0 16 16">
        <path
            d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
        <path fill-rule="evenodd"
            d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
    </symbol>
    <symbol id="table" viewBox="0 0 16 16">
        <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </symbol>
    <symbol id="grid" viewBox="0 0 16 16">
        <path
            d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
    </symbol>
</svg>



<!--Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Icons-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/financialmanager/js/box.js"></script>
<link rel="stylesheet" type="text/css" href="/static/financialmanager/css/box.css">
{%block main %}
<main style="direction: rtl;">
    <div class="container py-3">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">
            <div class="col-sm-3">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem; max-height: 180px; height: 100%;">
                    <div class="card-header">تراکنش های انجام شده صندوق</div>
                    <div class="card-body ">
                        <h3 class="card-title">2</h3>
                        <p class="card-text" style="margin-top:15%;">تعداد تراکنش های برداشتی از صندوق </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem; max-height: 180px; height: 100%;">
                    <div class="card-header">مجموع واریزی ها</div>
                    <div class="card-body">
                        <h3 class="card-title">2</h3>

                        <p class="card-text" style="margin-top:15%;">تعداد کل واریزی ها توسط اعضای تیم</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-white bg-secondary mb-3"
                    style="max-width: 18rem; max-height: 180px; height: 100%;">
                    <div class="card-header">واریزی های شما</div>
                    <div class="card-body">
                        <h3 class="card-title">2</h3>
                        <p class="card-text" style="margin-top:15%;">تعداد کل واریزی های شما به صندوق </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem; max-height: 180px; height: 100%;">
                    <div class="card-header">موجودی صندوق</div>
                    <div class="card-body">
                        <span class="card-title" style="font-size: 28px; direction: ltr; display: inline-block;"></span>
                        <span style="font-size: small;"> تومان </span>
                        <p class="card-text " style="margin-top:15%; ">مبلغ کل موجود در صندوق </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-primary "
        style="width: 380px; float: right; direction: rtl;">
        <a href="/" class="d-flex align-items-center flex-shrink-0 p-3  link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-5 fw-semibold text-white">سابقه تراکنش ها </span>
        </a>

    </div>



    <div class="col-md-5 " style="margin-right:40%; margin-bottom: 1%;">
        <div class="container direction:rtl; ">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image"> <img style="border-radius: 50% !important ;" src="" class="" width="155"> </div>
                    <div class="mr-100 w-100" style="margin-right: 2%;">
                        <h4 class="mb-0 mt-0">کاربر</h4> <span> </span>
                        <div class="col mt-4">
                            <span style="font-size: medium;">موجودی : </span>
                            <span
                                style="font-size: 28px; margin-right: 1%; direction: ltr; display: inline-block;"></span>
                            <span style="font-size: small;">تومان</span>
                        </div>


                        <button type="button" class="btn btn-sm btn-primary w-100 ml-2" data-bs-toggle="modal"
                            data-bs-target="#chargeaccount">+ افزایش موجودی</button>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#nobox').modal('show');
        });
    </script>



</main>

<!--Modals-->
<div class="modal fade show" id="nobox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" style="direction: rtl;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">افزودن صندوق</h5>

            </div>
            {%if nobox%}
            <h7 style="color: tomato;">شما در هیچ صندوقی عضو نیستید لینک پیوستن را از دوستانتان بگیرید یا خودتان ایجاد
                کنید</h7>
            {%endif%}
            <div class="modal-body ">
                <h5>ایجاد صندوق</h5>
                <form method="POST" action="boxcreation/">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col">
                            <div class="form-group ">
                                <label for="boxname">نام صندوق</label>
                                <input type="text" class="form-control" id="boxname" name="boxname"
                                    placeholder="  نام صندوق مثال:کوه گردی پنجشنبه ها">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group ">
                                <label for="slug">آدرس اینترنتی</label>
                                <input type="text" class="form-control" id="boxslug" name="boxslug"
                                    placeholder="مثال: koohgardi">
                            </div>
                        </div>
                    </div>
                    <label for="gateway_url" class="form-label" aria-describedby="gateway_url_help">لینک درگاه
                        پرداخت</label>
                    <div class="input-group ">
                        <input type="url" class="form-control" style="direction: ltr;" id="gateway_url"
                            aria-describedby="basic-addon3" name="gateway_url" value="">
                    </div>
                    <div id="gateway_url_help" class="form-text mb-3" style="direction: ltr;">مثال:
                        https://idpay.ir/imansedgh </div>

                    <label>ارائه دهنده درگاه پرداخت</label><br>
                    <input class="form-check-input" type="radio" id="gateway" value='idpay' name="gateway_type" checked>
                    <label class="form-check-label" for="gateway">
                        آیدی پی
                    </label>
                    <small>در حال حاضر فقط از ایدی پی پشتیبانی میشود </small>
                    <br>
                    <input class="form-check-input" type="radio" id="gateway" value='zarinpal' name="gateway_type"
                        disabled>
                    <label class="form-check-label" for="gateway">
                        زرین پال
                    </label>
                    <div class="form-group">
                        <label for="boxdetails">توضیحات</label>
                        <textarea rows="2" class="form-control" id="boxdetails" name="boxdetails"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">ساخت صندوق</button>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary " href='http://{{request.get_host}}' id='nextButton'>
                    بازگشت به صفحه اصلی دونگچی</a>
            </div>
        </div>
    </div>
</div>


<!--Modals-->


{%endblock%}