<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>



<div class="container">
    <form action="" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="details" name="description">
        </div>
        <div class="form-group">
            <label for="description">Amount</label>
            <input type="number" class="form-control" id="Amount" placeholder="Price / Number in Toman" name="amount">
        </div>
        <select class="custom-select" multiple name="payers">
            <option selected> Select Payers </option>
            {% for payer in users %}
            <option value="{{payer.id}}">{{payer.username}}</option>
            {% endfor %}

        </select>
        <div class="form-group">
            <label for="">Safebox</label>
            <select class="form-control" id="safebox" name="safebox">
                {% for box in boxes %}
                <option>{{box.name}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>